@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,300&display=swap');

.italic {
  font-style: italic;
  font-size: 1.25em;
}

.bold {
  font-weight: bold;
}

#proj,
#stud {
  float: right;
  border-bottom: 1px solid #4f7fff33;
  text-decoration: none;
}

#proj:hover,
#stud:hover {
  border-bottom: 1px solid #4f7fff80;
}

#stud {
  margin-right: 1em;
}

#proj {
  margin-right: 2.5em;
}

.works {
  margin-bottom: 2em;
}

.full-width {
  width: 90%;
  border-radius: 10px;
  margin-top: 2em;
  margin-bottom: 2em;
  margin-left: 2em;
}

.otstup {
  margin-left: 2em;
  width: 95%;
  display: inline-block;
}

.copyright {
  margin-left: 2em;
  display: inline-flex;
}

.smallfont {
  font-size: 0.75em;
}

.half {
  width: 70%;
}

.copyrights {
  margin-right: 3em;
}

p {}

header {
  padding-bottom: 7em;
  margin-bottom: 4em;
}

li {
  list-style-type: none;
}

.right {
  text-align: right;
  margin-right: 2.5em;
}

a:visited {
  color: #4f7fff;
}

a:active {
  color: blue;
}

.head-logo {
  margin-bottom: 80px;
  margin-left: 2em;
  position: absolute;
  width: 50px;
  height: 63.5px;
}

html {
  padding: 2.5em;
  margin-top: 0;
}

.nc {
  text-decoration: none;
  color: black;
}

.nc:focus,
.nc:hover {
  text-decoration: none;
  color: black;
}

.project {
  padding-left: 1em;
  padding-right: 1em;
  margin-top: 3em;
  margin-bottom: 1em;
  height: 32em; //  width: 20em;
  width: calc(23.5% - 1em);
  display: inline-grid;
  text-align: left;
  min-width: 240px;
}

.big-project {
  padding-left: 1em;
  padding-right: 1em;
  margin-top: 3em;
  margin-bottom: 1em;
  height: 32em;
  //width: 40em;
  width: 47%;
  display: inline-grid;
  text-align: left;
  min-width: 240px;
}

.projects {
  position: relative;
  width: 100%;
  display: block;
  text-align: center;
}

.bordered {
  border-radius: 15px;
  margin-bottom: 1em;
  height: 26em;
}

img {
  object-fit: cover;
}

.footer {
  margin-top: 6em;
  margin-left: 2em;
  margin-bottom: 2em;
}

.date {
  color: #777;
  margin-top: 5px;
}

.mobile {
  visibility: hidden;
  display: none;
}

a,
p {
  font-stretch: normal;
  font-weight: 300;
  line-height: 1.625;
  cursor: default;
}

.nc {
  color: #333;
}

body,
html {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.3em;
  color: #333;
  background-color: #fff;
  margin: 0 auto;
  max-width: 1500px;
  overflow: auto;
  overflow-x: hidden;
}
@media screen and (max-width: 1360px) {
  body,
  html {
    font-size: 15.5px;
  }
}
@media screen and (max-width: 1280px) {
  body,
  html {
    font-size: 15px;
  }
}
@media screen and (max-width: 1200px) {
  html {
    padding: 0;
  }

  body {
    margin-top: 2em;
  }

  body,
  html {
    font-size: 14.5px;
  }
}
@media screen and (max-width: 1145px) {
  body,
  html {
    font-size: 14px;
  }

  .big-project {
    width: calc(31.5% - 1em);
  }

  .project {
    width: calc(31.5% - 1em);
  }
}
@media screen and (max-width: 1040px) {
  .mobile {
    visibility: visible;
    display: block;
  }

  .desktop {
    visibility: hidden;
    display: none;
  }

  a,
  p,
  ul {
    font-size: 1.25em;
  }

  body,
  html {
    font-size: 13.5px;
  }

  .project {
    width: calc(31.5% - 1em);
  }

  .big-project {
    width: 47%;
  }

  #support {
    width: 47%;
  }
}
@media screen and (max-width: 975px) {
  .mobile {
    visibility: visible;
    display: block;
  }

  .desktop {
    visibility: hidden;
    display: none;
  }

  .big-project {
    width: 95%;
    margin-bottom: 4em;
  }

  #support {
    width: calc(47.5% - 1em);
  }

  .project {
    width: calc(47.5% - 1em);
    margin-bottom: 4em;
  }
  //  #supportsale {
  //    width: calc(47.5% - 1em);
  //}
}
@media screen and (max-width: 607px) {
  .big-project {
    width: 85%;
  }

  .project {
    width: 85%;
  }

  #support {
    width: 85%;
  }

  .description {
    margin-left: 1em;
  }
}
@media all and (max-device-width: 767px) {
  .mobile {
    visibility: visible;
    display: block;
  }

  .desktop {
    visibility: hidden;
    display: none;
  }

  .full-width {
    margin-left: 1.6em;
  }

  .head-logo {
    width: 42,307692308;
    height: 53,846153846;
  }

  h1 {
    line-height: 1.3em;
  }

  a {
    font-size: 1.25em;
  }

  body,
  html {
    min-width: auto;
    font-size: 13px;
    line-height: 1.3em;
  }

  .description {
    margin-left: 2.2em;
  }
}

.description {
  width: 57.5rem;
  margin-left: 2em;
}

#contact {
  margin-top: 5em;
}

.big-project,
.project {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-delay: 0.4s;
  -moz-animation-delay: 0.4s;
  animation-delay: 0.4s;
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.big-project,
.project {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

.bordered:hover {
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  -moz-transition: transform 0.5s ease, -moz-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease, -moz-transform 0.5s ease;
  -webkit-transform: translateY(-0.4em);
  -moz-transform: translateY(-0.4em);
  -ms-transform: translateY(0.4em);
  transform: translateY(-0.4em);
}

.parallax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 40em;
}