extends ../base.pug
block content
  div.description
    h1.works Логотип и айдентика микро-медиа «Дом напротив»
    a.nc.half «Дом напротив» — это микро-медиа, которое освещает проблемные темы об инвалидности, синдроме Туретта, стереотипах, ПТСР и тд. Название показывает разницу между нами и ними, тем не менее это все находится рядом, в доме напротив. Дом выступает как микросоциум, где мы противопоставлены друг другу, хотя живем рядом. <br><br>
    a.half(href="https://t.me/dom_naprotiv") https://t.me/dom_naprotiv
  img.full-width(src="img/dom-naprotiv/desktop-logo.png")
  img.full-width(src="img/dom-naprotiv/desktop-2.png")
  <br>
  a.nc.otstup.half Все что угодно брендируется просто светом <br><br>
  <br>
  a.nc.otstup.half В основе стиля — свет, который направлен от одного слова к другому, в буквальном смысле обыгрывая название и создавая разные образы. <br><br>
  img.full-width(src="img/dom-naprotiv/desktop-4.png")
  <br>
  a.nc.otstup.half Работа айдентики в оформлении группы ВК <br><br>
  img.full-width(src="img/dom-naprotiv/desktop-6.png")
  img.full-width(src="img/dom-naprotiv/desktop-9.png")
  img.full-width(src="img/dom-naprotiv/desktop-10.png")
  img.full-width(src="img/dom-naprotiv/desktop-8.png")
  <br>
  div.copyright
    div.copyrights
      a.smallfont Арт-директор:
      <br>
      a Вениамин Векк
    div.copyrights
      a.smallfont Дизайнер:
      <br>
      a Катя Кан
    div.copyrights
      a.smallfont Дата:
      <br>
      a 20 января 2020
