extends ../base.pug
block content
  div.description
    h1.works Дизайнер мечты 2
  img.full-width(src="img/dreamdesigner/dreamdesigner2.png")
  a.nc.otstup.half Ищем дизайнера мечты. Веб, интерфейсы, дизайн-системы, макеты, картинки там. Чтобы прям всё сам умел, а еще был умнее всех. Тестовое задание — написать о себе так классно, чтобы не возникало вопросов. Или просто написать.
  <br><br>
  a.nc.otstup.half.bold Что важно <br>
  ul
    li — Знать про Бюро, Студию, всякие там Бирманы, Ильяховы, Товеровские. Обо всем знать, но быть острожным.
    li — Уметь работать по принципу «сделать». (Пинать всех, чтобы тоже умели)
    li — Рисовать макеты лучше, чем Векк.
    li — Не бояться показывать черновики.
    li — Уметь понять где плохой текст, картинка, интерфейс, всё что угодно.
    li — Объяснять, пояснять, убеждать.
    li — Самому уметь говорить с клиентом (или хотеть научиться).
    li — Самому уметь говорить с клиентом (или хотеть научиться).
    li — Быть молодцом.
  a.nc.otstup.half 
  <br>
  a.nc.otstup.half.bold Что не важно <br>
  ul
    li — Где вы живете и сколько времени хотите работать.
    li — Какого вы пола и национальности.
    li — Левша вы или правша.
  a.nc.otstup.half.bold А еще вот это <br>
  ul
    li — У нас пока нет ЗП, это проектная работа. Мы договариваемся на одну денежку и работаем.
    li — Это не стажировка, не тестовое задание, а реальный проект.
    li — Не для новичков, нужно уже пройти все стадии незнания простых вещей.
    li — Нужно иметь за пазухой два-три веб-проекта и рассказ о себе.
    li — Не расстраиваться, если у нас ничего не выйдет
  a.nc.otstup.half Если это вы — пишите: 
  a.otstup.half(href="tg://resolve?domain=veqqa") @veqqa <br>
  a.nc.otstup.half Если знаете клевого — перешлите. <br><br>
  a.nc.otstup.half А еще ниже почта есть.
