extends ../base.pug
block content
  div.description
    h1.works Логотип, концепция и айдентика Двора
    a.nc.half Мы называемся дизайн-студия Двор. Задача логотипа и стиля — транслировать нашу основную идею, которая заключается в том, чтобы улучшать всё в своем дворе. «Наш двор» — понятие растяжимое. Сейчас это несколько компаний, для которых мы делаем проекты в области графического дизайна и веба. Со временем наш двор будет расти пропорционально количеству сделанных проектов и компаний, которые с нами работают. <br><br>
    a.nc.half Форма знака состоит из дуги, умеренных плеч и основного штриха, который может быть чем угодно, поэтому его роль играет надпись «dvor». <br><br>
    a.half(href="tg://resolve?domain=dvordesign") tg/@dvordesign
  img.full-width(src="img/dvor-logo/d1.jpg")
  a.nc.otstup.half Дуга и плечи — постоянные, надпись — переменная, которая меняется в зависимости от контекста. Это позволяет использовать знак в самых разных ситуациях и образах. <br><br>
  img.full-width(src="img/dvor-logo/d2.jpg")
  img.full-width.mobile(src="img/dvor-logo/d3.jpg")
  div.full-width.parallax.desktop(style="background-image: url(img/dvor-logo/d3.jpg)" )
  img.full-width(src="img/dvor-logo/d8.jpg")
  img.full-width(src="img/dvor-logo/d4.jpg")
  img.full-width(src="img/dvor-logo/d7.jpg")
  img.full-width.mobile(src="img/dvor-logo/d6.jpg")
  div.full-width.parallax.desktop(style="background-image: url(img/dvor-logo/d6.jpg)" )
  img.full-width(src="img/dvor-logo/d9.jpg")
  <br>
  div.copyright
    div.copyrights
      a.smallfont Дизайнер:
      <br>
      a Вениамин Векк
    div.copyrights
      a.smallfont Технолог:
      <br>
      a Александра Травкина
    div.copyrights
      a.smallfont Дата:
      <br>
      a 19 августа 2019
