extends ../base.pug
block content
  div.description
    h1.works Логотип и айдентика Интелдома
    a() Айдентика
    a - 
    a(href="inteldome-site.html") Сайт
    a - 
    a(href="inteldome-banners.html") Рекламные баннеры <br><br>
    a.nc.half Интелдом — компания, которая защищает сервисы, серверы, сайты, базы данных, а также любой цифровой продукт от ДДоС атак и взломов. Интелдом обладает самым сильным оборудованием, блестящим сервисом, а теперь безумно стильным логотипом. <br><br>
    a.half(href="https://inteldome.com") inteldome.com
  img.full-width(src="img/inteldome-logo/desktop-12.png")
  <br>
  a.nc.otstup.half Основная идея стиля заключается в главной фишке компании — лучшем сервисе для клиента. Отсюда вытекают образы — купол как защита. Блестка — как интеллект, клиент. Акцентная шестнадцатиконечная звезда — атака. <br><br>
  img.full-width(src="img/inteldome-logo/i-all.png")
  <br>
  a.nc.otstup.half Символы прекрасно соединяются с названием и превращаются в легкий знак <br><br>
  img.full-width(src="img/inteldome-logo/i-desktop-3.png")
  img.full-width(src="img/inteldome-logo/i-desktop-4.gif")
  img.full-width(src="img/inteldome-logo/i-desktop-5.png")
  img.full-width(src="img/inteldome-logo/i-desktop-6.png")
  <br>
  a.nc.otstup.half Элемент атаки используется в качестве оформления, а для обозначения защиты достаточно белого пространства под куполом. <br><br>
  img.full-width(src="img/inteldome-logo/i-desktop-7.png")
  <br>
  a.nc.otstup.half Стиль позволяет забрендировать все что угодно <br><br>
  img.full-width(src="img/inteldome-logo/i-desktop-8.png")
  img.full-width(src="img/inteldome-logo/i-desktop-9.png")
  img.full-width(src="img/inteldome-logo/i-desktop-10.png")
  img.full-width(src="img/inteldome-logo/i-desktop-12-2.gif")
  <br>
  div.copyright
    div.copyrights
      a.smallfont Арт-директор:
      <br>
      a Вениамин Векк
    div.copyrights
      a.smallfont Старший дизайнер:
      <br>
      a Катя Кан
    div.copyrights
      a.smallfont Технолог:
      <br>
      a Александра Травкина
    div.copyrights
      a.smallfont Дата:
      <br>
      a 07 февраля 2020
