extends ../base.pug
block content
  div.description
    h1.works Сайт Интелдома
    a(href="inteldome-logo.html") Айдентика
    a - 
    a() Сайт
    a - 
    a(href="inteldome-banners.html") Рекламные баннеры <br><br>
    a.nc.half  Интелдом лучше всех в России защищает цифровые продукты от кибератак. <br><br>
    a.nc.half  Мы сделали сайт, который рассказывает абсолютно о каждом преимуществе компании в трех страницах. <br><br>
    a.nc.half  Дизайн сайта основывается на фирменной графике. Главная страница сразу дает понять чем занимается компания. <br><br>
    a.half(href="https://inteldome.com") inteldome.com
  img.full-width(src="img/inteldome-site/id-index-1-3.png")
  <br>
  a.nc.otstup.half Концепция сайта строится на развилке для трех типов посетителей. Если нужно срочно заказать защиту — используете формочку. <br><br>
  img.full-width(src="img/inteldome-site/id-p1.png")
  <br>
  a.nc.otstup.half Если вас в данным момент не атакуют, но хочется узнать, чем хороша компания — идите в бесконечный список преимуществ компании. <br><br>
  img.full-width(src="img/inteldome-site/id-p2.png")
  <br>
  a.nc.otstup.half Мы собрали всю возможную информацию и пустили огромным списком, снабдив страницу данными, фактами и возможность скопировать каждый пункт. <br><br>
  img.full-width(src="img/inteldome-site/id-l-1.png")
  <br>
  a.nc.otstup.half Интелдом — первая компания, которая рассказывает настолько подробно о киберзащите. <br><br>
  img.full-width(src="img/inteldome-site/id-i-2-3.png")
  <br>
  a.nc.otstup.half Если вам требуется узнать сколько потенциально может стоить ДдоС атака, воспользуйтесь калькулятором. <br><br>
  img.full-width(src="img/inteldome-site/id-p3.png")
  <br>
  a.nc.otstup.half Калькулятор позволяет выбрать свою нишу, вписать данные и получить примерные затраты от кибератак. <br><br>
  img.full-width(src="img/inteldome-site/id-k-1.png")
  <br>
  a.nc.otstup.half Бизнес-линч Лебедева
  iframe.full-width(src="https://www.youtube-nocookie.com/embed/IkrinIDpAZc?controls=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
  a.nc.otstup.half Отзыв
  img.full-width(src="img/inteldome-site/id-otziv-3.png")
  <br>
  div.copyright
    div.copyrights
      a.smallfont Арт-директор:
      <br>
      a Вениамин Векк
    div.copyrights
      a.smallfont Дизайнеры:
      <br>
      a Катя Кан
      a Никита Грудин
    div.copyrights
      a.smallfont Технолог:
      <br>
      a Александра Травкина
    div.copyrights
      a.smallfont Дата:
      <br>
      a 22 февраля 2020
