extends ../base.pug
block content
  div.description
    h1.works Рекламные баннеры для Интелдома
    a(href="inteldome-logo.html") Айдентика
    a - 
    a(href="inteldome-site.html") Сайт
    a - 
    a() Рекламные баннеры <br><br>
    a.nc.half  Интелдом — компания, которая защищает сервисы, серверы, сайты, базы данных, а также любой цифровой продукт от ДДоС атак и взломов. Мы сделали компании новые баннеры, которые показываются на форумах и сайтах; задача — привлечь внимание и спровоцировать перейти на сайт. <br><br>
    a.nc.half  Чаще всего баннеры на форумах буквально кричат о том, чтобы на них нажали. Мы решили пойти по другому пути и сделали мягкую анимацию, которая выделяется своей легкостью. <br><br>
  img.full-width(src="img/inteldome-banners/download-2.gif")
  <br>
  a.nc.otstup  Второй, статичный банер <br><br>
  img.full-width(src="img/inteldome-banners/bann-2.png")
  <br>
  div.copyright
    div.copyrights
      a.smallfont Арт-директор:
      <br>
      a Вениамин Векк
    div.copyrights
      a.smallfont Дизайнер:
      <br>
      a Катя Кан
    div.copyrights
      a.smallfont Дата:
      <br>
      a 15 апреля 2020
