extends ../base.pug
block content
  div.description
    h1.works Логотип и айдентика для сервиса «Кудаеда»
    a.nc.half «Кудаеда» — микро-медиа в телеграме, которое помогает москвичам обедать в интересных местах. Сервис рассказывает о самых вкусных заведениях очень милым и легким языком. Мы во Дворе сделали для Кудаеды крепкую метафору логотипа и айдентики. <br><br>
    a.nc.half Ключевая идея — сервис в буквальном смысле обламывает поиски и приводит в нужное место. Долго ходишь, хочешь понять где вкусно поесть. На пути появляется кудаеда, которая приводит в нужное место. <br><br>
    a.half(href="tg://resolve?domain=kudaeda") tg/@kudaeda
  img.full-width(src="img/kudaeda/1.jpg")
  a.nc.otstup.half Основу логотипа и стиля составляют три элемента: <br>
  ul.half
    li — Место, в которое приводит сервис.
    li — Путь, который проделывает читатель в поиске еды или отдыха.
    li — Точку, в которую попадают по совету сервиса.
  <br>
  img.full-width(src="img/kudaeda/2-1.jpg")
  img.full-width.mobile(src="img/kudaeda/3-2.jpg")
  div.full-width.parallax.desktop(style="background-image: url(img/kudaeda/3-2.jpg)" )
  img.full-width(src="img/kudaeda/4.jpg")
  img.full-width(src="img/kudaeda/2-3.jpg")
  <br>
  a.nc.otstup.half Логотипы для сайта, тг и офлайна. <br><br>
  img.full-width(src="img/kudaeda/5.jpg")
  img.full-width(src="img/kudaeda/6.jpg")
  img.full-width.mobile(src="img/kudaeda/msk.jpg")
  div.full-width.parallax.desktop(style="background-image: url(img/kudaeda/msk.jpg)" )
  img.full-width(src="img/kudaeda/9.jpg")
  <br>
  div.copyright
    div.copyrights
      a.smallfont Дизайнер:
      <br>
      a Вениамин Векк
    div.copyrights
      a.smallfont Дата:
      <br>
      a 24 августа 2019
