extends ../base.pug
block content
  div.description
    h1.works Страничка веб-теста Мелсайнс
    a(href="https://melscience.com/future") ✨ melscience.com/future <br><br>
    a.nc.half  Мелсайнс ломает стереотип о том, что наука трудная, скучная и только для определённых типов людей. Компания делает науку доступной и помогает развивать интерес к ней у детей. <br><br>
    a.nc.half  Ребята в Мелсайнс придумали тест, который поможет определить кем является ваш ребенок. Для этого они составили вопросы, расписали типы личностей и результаты. Мы во дворе помогли превратить это в интересный и красивый квест — нарисовали и сверстали. Нашей личной задачей было сделать не типичный тест с буллитами, а нечто необычное. <br><br>
    a.nc.half  Главная страница нас встречает серьезным вопросом.
  img.full-width(src="img/melscience/mel.png")
  <br>
  a.nc.otstup.half  После нажатия на старт начинается тест из семи шагов. Обычный интерфейс подобных тестов — вопрос и ответы с галочками. Мы решили пойти другой дорогой — сделать первый красивый веб-тест. Увеличили всё в размерах, подобрали иллюстрации, проработали формы, кнопочки.
  img.full-width(src="img/melscience/mel-2-2.png")
  <br>
  a.nc.otstup.half  Придумали несколько видов карточек в тесте, чтобы его было интересно проходить. Сделали полосу прогресса, чтобы знать сколько займет времени тестик. Проработали цвет, свечение и фоновые изображения таким образом, чтобы всё сочеталось с маской Мелсайнса. Формы принимают вид баблов, потому что подразумевается прямая речь ребенка:
  img.full-width(src="img/melscience/mel-3-3.png")
  <br>
  a.nc.otstup.half  Тесты приводят к одному из четырех типов личностей. Мы сделали универсальную конечную страничку с разными цветами. Весь дизайн сделан с адаптивом по-умолчанию.
  img.full-width(src="img/melscience/mel-4-4-4.png")
  <br>
  a.nc.otstup.half  Конечная страничка аккуратно скролится внутри, а в конце намекает перейти на основной сайт Мелсайнса. Другие варианты ухода — поделиться либо пройти тест еще раз.
  img.full-width(src="img/melscience/mel-5-5-5.png")
  <br>
  a.otstup 💫 Сделано за три недели с опозданием в три дня <br><br>
  a.otstup Дизайн: 29 июня — 6 июля <br><br>
  a.otstup Вёрстка: 7 июля — 15 июля <br><br>
  a.otstup Вёрстка: 7 июля — 15 июля <br><br>
  a.otstup Пройдите тестик сами или покажите друзьям —
  a.otstup(href="https://melscience.com/future") melscience.com/future <br><br>
  div.copyright
    div.copyrights
      a.smallfont Дизайнер:
      <br>
      a Вениамин Векк
    div.copyrights
      a.smallfont Технолог:
      <br>
      a Александра Травкина
    div.copyrights
      a.smallfont Дата:
      <br>
      a 25 июля 2020
