extends ../base.pug
block content
  div.description
    h1.works Сайт и интерфейс Квипа
    a.nc  Квип — клининговый сервис, которому важно выделяться среди похожих сервисов. Мы сделали уникальный сайт, предназначенный для работы с холодными клиентами. <br><br>
    a.nc  Главная страница состоит из пяти экранов, каждый из которых раскрывает тему уборки. Сначала мы предлагаем заказать уборку без лишних слов.
  img.full-width(src="img/qweep/qwe-1.png")
  <br>
  a.nc.otstup.half  Если хочется узнать больше — мы приглашаем посмотреть как работает уборка. Тут должна быть анимация, но увы — ее нет.
  img.full-width(src="img/qweep/qwe-2.png")
  img.full-width(src="img/qweep/qwe-3-1.png")
  img.full-width(src="img/qweep/qwe-4.png")
  img.full-width(src="img/qweep/qwe-5-1.png")
  <br>
  a.nc.otstup.half  В этом разделе мы аккуратно рассматриваем ситуации, при которых полезно заказать уборку. Мы старались выбирать нейтральные формулировки, чтобы не задеть чувства пользователей. Для нас это важно.
  img.full-width(src="img/qweep/qwe-6.png")
  <br>
  a.nc.otstup.half  Демонстрируем конкретные места уборки
  img.full-width(src="img/qweep/qwe-7.png")
  <br>
  a.nc.otstup.half  Мы придумали целую историю про менеджера Федора, который был настолько занят работой, что совсем забыл про дом. В нескольких шагах показываем как изменилась его жизнь после заказа уборки.
  img.full-width(src="img/qweep/qwe-8.png")
  <br>
  a.nc.otstup.half  На момент создания дизайна у компании не было продукта и отзывов. Мы написали как есть и показали пример.
  img.full-width(src="img/qweep/qwe-9.png")
  <br>
  a.nc.otstup.half  В интерфейсе заказа уборки мы постарались уменьшить стандартное количество шагов и свели всё к трем. Берем только необходимые данные.
  img.full-width(src="img/qweep/qwe-10.png")
  <br>
  a.nc.otstup.half  На втором шаге выбираются дополнительные услуги, для которых мы нарисовали уникальные иллюстрации. Мы умышленно отказались от типичных иконок, чтобы сервис запоминался даже в мелочах.
  img.full-width(src="img/qweep/qwe-11.png")
  <br>
  a.nc.otstup.half  На последнем шаге происходит оплата.
  img.full-width(src="img/qweep/qwe-11-1.png")
  <br>
  a.nc.otstup.half  Личный кабинет со стандартным набором функций
  img.full-width(src="img/qweep/qwe-12.png")
  <br>
  a.otstup.half  К сожалению, этот проект никогда не увидит свет, так как в компании развалилось всё — команда, проект, продукт. Безусловно, в этом есть и наша вина — именно поэтому мы теперь составляем подробные описания задачи, прорабатываем ожидания и серьезнее следим за сроками. <br><br>
  a.otstup.half  Мы публикуем проект в том виде, в котором он был задуман и полностью принят заказчиком. Жаль, что его превратили в то, что превратили. <br><br>
  div.copyright
    div.copyrights
      a.smallfont Арт-директор:
      <br>
      a Вениамин Векк
    div.copyrights
      a.smallfont Дизайнер:
      <br>
      a Никита Грудин
    div.copyrights
      a.smallfont Иллюстратор:
      <br>
      a Вика Тэ
    div.copyrights
      a.smallfont Дата:
      <br>
      a 25 июля 2020
