extends ../base.pug
block content
  div.description
    h1.works Сайт Сникерсейла
    a() 1.0 →
    a() 2.0 <br><br>
    a(href="https://sneaker.sale") sneaker.sale
    a.nc  — Сникерсейл — сервис, который аккумулирует в себе лучшие предложения интернет-магазинов. <br><br>
    a.nc Главная страница сделана таким образом, чтобы вмещать самое важное — поиск и предложения на первом экране.
  img.full-width(src="img/sneakersite/index-sn-3.png")
  <br>
  a.nc.otstup.half Сайт Сникера использует понятные во всем мире паттерны поиска одежды — выдачу и фильтры.
  img.full-width(src="img/sneakersite/rez.png")
  <br>
  a.nc.otstup.half Адаптив
  img.full-width(src="img/sneakersite/mob1.png")
  <br>
  a.nc.otstup.half Карточка кроссовка позволяет очень удобно просмотреть предложения магазинов, отфильтровать обувь по размеру и узнать подробности.
  img.full-width(src="img/sneakersite/page-sn-3.png")
  <br>
  div.copyright
    div.copyrights
      a.smallfont Арт-директор:
      <br>
      a Вениамин Векк
    div.copyrights
      a.smallfont Дизайнер:
      <br>
      a Никита Грудин
    div.copyrights
      a.smallfont Дата:
      <br>
      a 22 декабря 2019
