extends ../base.pug
block content
  div.description
    h1.works Логотип для Саппортсейла
    a.nc Саппортсейл — сервис Сникерсейла для работы с клиентами. Задача сервиса — оперативно отвечать на все вопросы и помогать пользователям. Задача логотипа и стиля — передавать эту идею. <br><br>
    a.nc Концепция строится на метафоре бушующих волн и спасательного круга. Волны — вопросы и проблемы пользователей. Спасательный круг — сервис, который помогает разобраться с вопросами и проблемами. Логотип сделан в форме этого круга, который одновременно является диалоговым окном.
  img.full-width(src="img/supportsale-logo/supp-5.png")
  <br>
  a.nc.otstup Вопросы пользователей — огроменные волны.
  img.full-width(src="img/supportsale-logo/supp-vk.png")
  <br>
  a.nc.otstup Фирменные иконки
  img.full-width(src="img/supportsale-logo/supp-ico.png") 
  <br>
  a.nc.otstup И паттерн
  img.full-width(src="img/supportsale-logo/supp-9.png")
  div.copyright
    div.copyrights
      a.smallfont Дизайнер:
      <br>
      a Вениамин Векк
    div.copyrights
      a.smallfont Дата:
      <br>
      a 21 июля 2020
