extends ../base.pug
block content
  div.description
    h1.works Анимационная заставка в группу Свитерсейла
    a.nc Свитерсейл — это сервис, который ищет лучшие скидки в интернете и выкладывает в паблик. <br><br>
    a.nc.italic Задача — коротко показать как работает сервис. <br><br>
    a.nc В приложении Вконтакте есть возможность разместить живые обложки — зацикленные анимационные ролики. Для Свитерсейла мы разработали короткий, анимационный ролик. Свитер отвечает за вещи, поэтому сам их достает и закидывает вниз, прямо в паблик. <br><br>
    <iframe src="https://player.vimeo.com/video/371987526" width="320" height="569" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
  <br>
  div.copyright
    div.copyrights
      a.smallfont Арт-директор:
      <br>
      a Вениамин Векк
    div.copyrights
      a.smallfont Дизайнер:
      <br>
      a Никита Потапов
    div.copyrights
      a.smallfont Иллюстратор:
      <br>
      a Вика Тэ
    div.copyrights
      a.smallfont Копирайтер:
      <br>
      a Костя Деш
    div.copyrights
      a.smallfont Дата:
      <br>
      a 09 ноября 2019
