extends ../base.pug
block content
  div.description
    h1.works Заставка в группу Свитерсейла
    a.nc Свитерсейл — это сервис, который ищет лучшие скидки в интернете и выкладывает в паблик. Задача — донести сильную сторону сервиса. Мы придумали ролик в котором показываются подозрительные вещи, а оригинальные ниже — в паблике. <br><br>
    <iframe src="https://player.vimeo.com/video/366609711" width="320" height="569" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
  <br>
  div.copyright
    div.copyrights
      a.smallfont Арт-директор:
      <br>
      a Вениамин Векк
    div.copyrights
      a.smallfont Дизайнер:
      <br>
      a Иван Ветошкин
    div.copyrights
      a.smallfont Иллюстратор:
      <br>
      a Вика Тэ
    div.copyrights
      a.smallfont Копирайтер:
      <br>
      a Костя Деш
    div.copyrights
      a.smallfont Дата:
      <br>
      a 15 октября 2019
