doctype html
html(lang="ru")
    include ./components/head.pug
    body(link="#4f7fff")
      include ./components/header.pug
      block content
      div.footer
        include ./components/footer.pug
