extends base.pug
block content
  //link(rel="stylesheet" href="css/main.css")
  div.description
    a.nc Двор, дизайн-студия. Помогаем клёвым компаниям делать невозможное. Приводим граф-дизайн в порядок, собираем промо-страницы, пишем текст, проектируем интерфейс. Мы любим такие проекты, которые помогают нашим клиентам заработать больше денег, стать известнее, улучшить свой продукт или услугу. А еще у нас есть 
    a(href="tg://resolve?domain=dvordesign") tg/@dvordesign <br><br>
    a.nc Связаться: 
    a(href="tg://resolve?domain=veqqa") @veqqa
  div.projects
    div.big-project
      a(href="projects/melscience.html")
        img.bordered(src="img/mel-22.gif" width="100%" height="420px")
      <br><br>
      a(href="projects/melscience.html") Страничка веб-теста Мелсайнс
      p.date 25 июля 2020
    div.project#support
      a(href="projects/supportsale-logo.html")
        img.bordered(src="img/supp-7.png" width="100%" height="420px")
      <br><br>
      a(href="projects/supportsale-logo.html") Логотип для Саппортсейла
      p.date 21 июля 2020
    div.project
      a(href="projects/qweep.html")
        img.bordered(src="img/wow-3.png" width="100%" height="420px")
      <br><br>
      a(href="projects/qweep.html") Сайт и интерфейс Квипа
      p.date 17 июня 2020
    div.project
      a(href="projects/inteldome-banners.html")
        img.bordered(src="img/img-banners.png" width="100%" height="420px")
      <br><br>
      a(href="projects/inteldome-banners.html") Рекламные баннеры для Интелдома
      p.date 15 апреля 2020
    div.project
      a(href="projects/sneakersite2.html")
        img.bordered(src="img/sneak-zastavk-2-1.png" width="100%" height="420px")
      <br><br>
      a(href="projects/sneakersite2.html") Сайт Сникерсейла 2.0
      p.date 07 апреля 2020
    div.big-project
      a(href="projects/inteldome-site.html")
        img.bordered(src="img/zas-inteldome-site2.png" width="100%" height="420px")
      <br><br>
      a(href="projects/inteldome-site.html") Сайт Интелдома
      p.date 22 февраля 2020
    div.big-project
      a(href="projects/inteldome-logo.html")
        img.bordered(src="img/desktop-0.png" width="100%" height="420px")
      <br><br>
      a(href="projects/inteldome-logo.html") Логотип и айдентика Интелдома
      p.date 07 февраля 2020
    div.big-project
      a(href="projects/dom-naprotiv.html")
        img.bordered(src="img/desktop-zatra.png" width="100%" height="420px")
      <br><br>
      a(href="projects/dom-naprotiv.html") Логотип и айдентика микро-медиа «Дом напротив»
      p.date 20 января 2020
    div.big-project
      a(href="projects/sneakersite.html")
        img.bordered(src="img/sneak-site.png" width="100%" height="420px")
      <br><br>
      a(href="projects/sneakersite.html") Сайт Сникерсейла
      p.date 22 декабря 2019
    div.project
      a(href="projects/sweatersale-animate.html")
        img.bordered(src="img/swe-7.png" width="100%" height="420px")
      <br><br>
      a(href="projects/sweatersale-animate.html") Анимационная заставка в группу Свитерсейла
      p.date 09 ноября 2019
    div.project
      a(href="projects/dreamdesigner2.html")
        img.bordered(src="img/dreamdesigner.png" width="100%" height="420px")
      <br><br>
      a(href="projects/dreamdesigner2.html") Дизайнер мечты 2
      p.date 07 ноября 2019
    div.project
      a(href="projects/sweatersale-zastavka.html")
        img.bordered(src="img/swe-vid.png" width="100%" height="420px")
      <br><br>
      a(href="projects/sweatersale-zastavka.html") Заставка в группу Свитерсейла
      p.date 15 октября 2019
    div.project
      a(href="projects/kudaeda.html")
        img.bordered(src="img/kudaeda.png" width="100%" height="420px")
      <br><br>
      a(href="projects/kudaeda.html") Логотип и айдентика для сервиса «Кудаеда»
      p.date 24 августа 2019    
    div.project
      a(href="projects/sweatersale-logo.html")
        img.bordered(src="img/s8.jpg" width="100%" height="420px")
      <br><br>
      a(href="projects/sweatersale-logo.html") Концепция и персонаж для Свитерсейла
      p.date 20 августа 2019
    div.project
      a(href="projects/dvor-logo.html")
        img.bordered(src="img/dvor-2.png" width="100%" height="420px")
      <br><br>
      a(href="projects/dvor-logo.html") Логотип, концепция и айдентика Двора
      p.date 19 августа 2019
