extends base.pug
block content
  link(rel="stylesheet" href="css/studio.css")
  div.description
    h1 Студия <br><br>
    h2 Наши клиенты
    ul
      li - Сникерсейл (Свитерсейл. Саппортсейл)
      li - SPB Tennis Academy
      li - Qweep
      li - inteldome
      li - Дом напротив
    h2 Начать проект
    p.nc.italic Что вы делаете и зачем? Почему вы этим занимаетесь? Как в преподносите и продаете свой товар или услугу? В чем ваша общая цель? Какаие проблемы мешают вам ее добиться? Почему важно их решить сейчас? Сколько у вас времени? Что имеет смысл нам знать перед разговором? Почему хотите работать с нами?<br>
    a.nc Почта внизу <br>
    div#contact
      a.nc Телеграм:
      a(href="tg://resolve?domain=veqqa") @veqqa <br><br>
      a.nc Канал: 
      a(href="tg://resolve?domain=dvordesign") @dvordesign <br><br>
      a.nc  Дата основания — август 2019 <br><br>
      
  
