meta(charset="utf-8")
link(rel="shortcut icon" href="http://new-dvor.dvor.design/favicon.ico" type="image/x-icon")
link(rel="canonical" href="http://dvor.design")
link(rel="icon" href="http://new-dvor.dvor.design/favicon.ico" type="image/x-icon")
meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
link(rel="stylesheet" href="http://new-dvor.dvor.design/css/main.css")
title Дизайн-студия «Dvor»
