header
  div(style="height=100px;")
    a(href="http://new-dvor.dvor.design/index.html") <img src="http://new-dvor.dvor.design/img/dvor.svg" class="head-logo">
    a#proj(href="http://new-dvor.dvor.design/projects.html") Проекты
    a#stud(href="http://new-dvor.dvor.design/studio.html") Студия
      
